[submodule "INI"]
	path = INI
	url = git://github.com/robertcollier4/sublime-text-2-ini.git
[submodule "GitGutter"]
	path = GitGutter
	url = git://github.com/jisaacks/GitGutter.git
[submodule "ApacheConf"]
	path = ApacheConf
	url = git://github.com/colinta/ApacheConf.tmLanguage.git
[submodule "DocBlockr"]
	path = DocBlockr
	url = git://github.com/spadgos/sublime-jsdocs.git
